<br style="clear: both;"/>
<footer>
  <p>
    <i class="ph ph-copyright"></i>
    <a rel="license"
      href="https://creativecommons.org/licenses/by/4.0/">CC-BY</a>/<a
      href="/LICENSE">MIT</a>
    2019&ndash;{{ site.time | date: '%Y' }}
    <span xmlns:cc="http://creativecommons.org/ns#"
      data-url="{{site.url}}{{page.url}}"
      property="cc:attributionName"
      rel="cc:attributionURL dct:source">George Watson-Hyde</span>
    &bull;
    <i class="ph-fill ph-github-logo"></i>
    <a
      href="https://github.com/georgewatson/georgewatson.me/"
      >GitHub</a>
    &bull;
    <i class="ph-fill ph-detective"></i>
    <a href="/privacy_policy">Privacy policy</a>
    &bull;
    <i class="ph ph-phosphor-logo"></i>
    Icons by
    <a href="https://phosphoricons.com/">Phosphor</a>
    {% assign pages_list = (site.pages | sort: 'order') %}
  </p>
  <p>
    <i class="ph-fill ph-palette"></i>
    Set style
    (uses a cookie):
    <a href="#" onclick="setActiveStyleSheet('default');return false;"
      >Default</a>
    &bull;
    <a href="#" onclick="setActiveStyleSheet('light');return false;"
      >Light</a>
    &bull;
    <a href="#" onclick="setActiveStyleSheet('dark');return false;"
      >Dark</a>
    &bull;
    <a href="#" onclick="setActiveStyleSheet('amoled');return false;"
      >AMOLED</a>
    &bull;
    <i class="ph ph-person-simple-circle"></i>
    <a href="#" onclick="setActiveStyleSheet('accessible');return false;"
      >Accessible</a>
    <noscript>
      (Stylesheet selector requires JavaScript)
    </noscript>
  </p>
</footer>
</div> <!-- .body -->

<div class="cookie-banner">
  <i class='ph ph-cookie'></i>
  Cookies will be set if you change
  the stylesheet
  or your MathJax settings.
  They can't be used to track you,
  and you can disable them if you like.
  <a href="/privacy_policy/#cookies">Learn more</a>
</div>

<script src="/assets/style_switcher.js"></script>
<script src="/assets/sidenotes.js"></script>

{% include mathjax.html %}