<footer>
  <p>
    Copyright © 2019 George D. Watson,
    <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY</a>
  </p>
  <p>autocommand BufWritePost * !git add . &amp;&amp;
    git commit -m "Update" &amp;&amp;
    git push --force origin master</p>
</footer>
<link rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Source+Code+Pro"/>
<link rel="stylesheet"
  href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
<!--<script type="text/javascript"
  src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js">
</script>-->
