<!--
MIT LICENSE
===========

Copyright 2019 George D. Watson

Permission is hereby granted, free of charge, to any person obtaining a copy of
this software and associated documentation files (the "Software"), to deal in
the Software without restriction, including without limitation the rights to
use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
the Software, and to permit persons to whom the Software is furnished to do so,
subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
-->
<!--
Other content is made available under a Creative Commons Attribution (CC-BY)
licence, unless otherwise stated.
For full licence terms, see <https://creativecommons.org/licenses/by/4.0/>
-->
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="theme-color" content="#f38630">

  {% seo %}

  <link rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
    crossorigin="anonymous"/>
{% if page.academicons %}
  <link rel="stylesheet"
    href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css"/>
{% endif %}
  <link rel="stylesheet" href="https://unpkg.com/littlefoot/dist/littlefoot.css"/>

  <link rel="stylesheet" type="text/css"
    href="{{ "/assets/base.css" | relative_url }}"/>
  <link rel="stylesheet" type="text/css" title="default"
    href="{{ "/assets/default.css" | relative_url }}"/>
  <link rel="alternate stylesheet" type="text/css" title="accessible"
    href="{{ "/assets/accessible.css" | relative_url }}"/>
  <link rel="stylesheet" type="text/css" title="light"
    href="{{ "/assets/light.css" | relative_url }}"/>
  <link rel="alternate stylesheet" type="text/css" title="dark"
    href="{{ "/assets/dark.css" | relative_url }}"/>
  <link rel="alternate stylesheet" type="text/css" title="amoled"
    href="{{ "/assets/amoled.css" | relative_url }}"/>

  <link rel="stylesheet" type="text/css"
    href="{{ "/assets/webmention.css" | relative_url }}"/>

  <link rel="apple-touch-icon" sizes="180x180"
    href="{{ "/assets/apple-touch-icon.png" | relative_url }}"/>
  <link rel="icon" type="image/png" sizes="32x32"
    href="{{ "/assets/favicon-32x32.png" | relative_url }}"/>
  <link rel="icon" type="image/png" sizes="16x16"
    href="{{ "/assets/favicon-16x16.png" | relative_url }}"/>
  <link rel="manifest"
    href="{{ "/assets/manifest.json" | relative_url }}"/>
  <link rel="mask-icon" color="#f38630"
    href="{{ "/assets/safari-pinned-tab.svg" | relative_url }}"/>
  <link rel="shortcut icon"
    href="{{ "/favicon.ico" | relative_url }}"/>

  {% feed_meta %}

  <link rel="webmention" href="https://webmention.io/georgewatson.me/webmention" />
  <link rel="pingback" href="https://webmention.io/georgewatson.me/xmlrpc" />

  <meta name="follow_it-verification-code" content="Pf5HbhQDsasQbhaDGGwz"/>

  <script src="/assets/webmention.js" data-wordcount="30" async></script>
</head>
