    <header id="main-header">
      <img class="logo" alt=""
        src="{{ "/assets/logo_unoptimised.svg" | relative_url }}"/>
      <h1 id="top">George Watson</h1>
      <p class="tagline">
        <span class="prompt">#</span>
        <span class="tag-item">
          Interdisciplinary scientist at the physics–biology interface
        </span>
      </p>
      <nav>
        <span class="prompt">&gt;</span>
        {% assign pages_list = (site.pages | sort: 'order') %}
        {%- for node in pages_list -%}
          {% if node.navbar and node.autogen == nil %}
            {%- if page.url == node.url -%}
              <a href="{{ node.url | replace: 'index.html', '' }}"
                class="this-page"
                >{%- if node.navtitle -%}{{node.navtitle}}{%- else -%}{{node.title}}{%- endif -%}</a>
            {%- else -%}
              <a href="{{ node.url | replace: 'index.html', '' }}"
                {% if node.title contains 'Contact' %}
                  xmlns:cc="http://creativecommons.org/ns#"
                  rel="cc:morePermissions"
                {% endif %}
                >{%- if node.navtitle -%}{{node.navtitle}}{%- else -%}{{node.title}}{%- endif -%}</a>
            {% endif %}
            {% unless forloop.last %}
              <span class="comma">&bull;</span>&nbsp;
            {% endunless %}
          {%- endif -%}
        {%- endfor -%}
      </nav>
    </header>

