    <header id="main-header" class="h-card">
      <img class="logo" alt=""
        src="{{ "/assets/logo_new.svg" | relative_url }}"/>
      <h1 id="top">
        <a
          class="p-author p-name u-url u-uid"
          rel="author me"
          href="https://georgewatson.me">George Watson-Hyde</a>
      </h1>
      <p class="tagline">
        <span class="prompt">#</span>
        <span class="tag-item p-note">
          Senior Data Scientist
        </span>
      </p>
      <nav {% if page.bignav %} class="big-nav" {% endif %}>
        <span class="prompt">&gt;</span>
        <ul>
        {% assign pages_list = (site.pages | sort: 'order') %}
        {%- for node in pages_list -%}
          {% if node.navbar and node.autogen == nil %}
            <li>
            {%- if page.url == node.url -%}
              <a href="{{ node.url | replace: 'index.html', '' }}"
                class="this-page"
                >{%- if node.navtitle -%}{{node.navtitle}}{%- else -%}{{node.title}}{%- endif -%}</a>
            {%- else -%}
              <a href="{{ node.url | replace: 'index.html', '' }}"
                {% if node.title contains 'Contact' %}
                  xmlns:cc="http://creativecommons.org/ns#"
                  rel="cc:morePermissions"
                {% endif %}
                >{%- if node.navtitle -%}{{node.navtitle}}{%- else -%}{{node.title}}{%- endif -%}</a>
            {% endif %}
            {% unless forloop.last %}
              <span class="comma">&bull;</span>&nbsp;
            {% endunless %}
            </li>
          {%- endif -%}
        {%- endfor -%}
      </nav>
    </header>

