<div class="the-label">
  <span class="category label label-{{ post.category }}">
    <a href="/blog/{{ post.category }}"
      rel="category tag">{{ post.category | capitalize}}</a>
  </span>
</div>
<h2 class="blog-post-title">
  <span class="overlay-span">
    <a href="{{ post.url | relative_url }}"
      >{{ post.title | escape }}</a>
  </span>
</h2>
<p class="blog-post-info">
  <span class="overlay-span">
    {{ post.date | date: date_format }}
    &middot;
    {% assign words = post.content | number_of_words %}
    {%- if words < 360 -%}
      1
    {%- else -%}
      {{ words | divided_by:180 }}
    {%- endif -%}
    -minute read
  </span>
  {%- if post_note -%}
    <br/>
    <strong class="overlay-span {{ note_class }}">{{ post_note }}</strong>
  {% endif %}
</p>

