{% if include.pageurl != nil and include.pageurl != '' %}
    {% assign pageurl = include.pageurl %}
{% else %}
    {% assign pageurl = page.url %}
{% endif %}

<style>
#share-buttons > a { color: #777; text-decoration: none; }
#share-buttons > a.facebook:hover { color: #3B5998; }
#share-buttons > a.twitter:hover { color: #55ACEE; }
#share-buttons > a.linkedin:hover { color: #0077b5; }
#share-buttons > a.pinterest:hover { color: #CB2027; }
#share-buttons > a.gplus:hover { color: #dd4b39; }
#share-buttons > a.mail:hover { color: #63f330; }
#share-buttons > a.reddit:hover { color: #FF5700; }
</style>

<p class="share" id="share-buttons">
  <strong>Share:</strong>

  <a class="facebook" target="blank" title="Facebook"
      href="http://www.facebook.com/share.php?u={{ site.url }}{{ pageurl }}">
    <i class="ph-fill ph-facebook-logo"></i>
    <span class="hidden">Facebook</span>
  </a>

  <span class="hidden">&bull;</span>
  <a class="linkedin" target="blank" title="LinkedIn"
      href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ pageurl }}&title=&summary=&source=">
    <i class="ph-fill ph-linkedin-logo"></i>
    <span class="hidden">LinkedIn</span>
  </a>

  {% if page.image %}
    <span class="hidden">&bull;</span>
    <a class="pinterest" target="blank" title="Pinterest"
        href="https://pinterest.com/pin/create/button/?url=&media={{ site.url }}{{ page.image }}&description=">
      <i class="ph-fill ph-pinterest-logo"></i>
      <span class="hidden">Pinterest</span>
    </a>
  {% endif %}

  <span class="hidden">&bull;</span>
  <a class="reddit" target="blank" title="Reddit"
      href="http://www.reddit.com/submit?url={{ site.url }}{{ pageurl }}">
    <i class="ph-fill ph-reddit-logo"></i>
    <span class="hidden">Reddit</span>
  </a>

  <span class="hidden">&bull;</span>
  <a class="mail" title="Email" href="mailto:?&body={{ site.url }}{{ pageurl }}">
    <i class="ph ph-envelope"></i>
    <span class="hidden">Email</span>
  </a>
</p>
</div>
</p>