<form
    action="https://api.follow.it/subscription-form/OVVkdCtHSDZwSTcwbGwzdzRpS3Q2R3JVVEJ4Z2hVYTQ0MXc1L212WWtyekROM21PYkFNSjJpQmtIUHZDL0FTZWZpRXJDczJRWXp2VXAwWHc3OE5TVTRYTm9kdHlHQmoyb0dOem1hVzhjVG1lMGJKZEJPL2lnckNWZGxKMVNmVXh8ZnJDS3VaUDRrQkovamlrR1lQZXoxcm10dWNtRHFoV3BnbllkSTY1N1ZkST0=/8"
    method="post"
    class="subscribe-form">
  <label for="subscribe-box{{ include.id }}">
    Get new posts delivered straight to your inbox
  </label>
  <div class="v-padded">
    <input type="email" name="email" class="subscribe-box"
      id="subscribe-box{{ include.id }}"
      placeholder="name@example.com" />
    <input type="submit" value="Subscribe" class="button" />
  </div>
</form>
