<form action="https://feedburner.google.com/fb/a/mailverify"
    class="subscribe-form"
    method="post"
    target="popupwindow"
    onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=georgewatson',
      'popupwindow',
      'scrollbars=yes,width=550,height=520');
    return true">
  <label for="subscribe-box{{ include.id }}">
    Get new posts delivered straight to your inbox
  </label>
  <div class="v-padded">
    <input type="email" name="email" class="subscribe-box"
      id="subscribe-box{{ include.id }}"
      placeholder="name@example.com" />
    <input type="hidden" value="georgewatson" name="uri" />
    <input type="hidden" name="loc" value="en_US" />
    <input type="submit" value="Subscribe" class="button" />
  </div>
  <span class="dim">
    Delivered by
    <a href="https://feedburner.google.com">FeedBurner</a>
  </span>
</form>
