<form action="https://feedburner.google.com/fb/a/mailverify"
    class="subscribe-form"
    method="post"
    target="popupwindow"
    onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=georgewatson',
      'popupwindow',
      'scrollbars=yes,width=550,height=520');
    return true">
  <p>
    <label for="subscribe-box">
      Get new posts delivered straight to your inbox
    </label>
  </p>
  <input type="email" name="email" id="subscribe-box"
    placeholder="name@example.com" />
  <input type="hidden" value="georgewatson" name="uri" />
  <input type="hidden" name="loc" value="en_US" />
  <input type="submit" value="Subscribe" class="button" />
  <p class="dim">
    Delivered by
    <a href="https://feedburner.google.com">FeedBurner</a>
  </p>
</form>
