---
---

@import url('/assets/base.css');

.blog-post-title {
    width: 100%;
}

.flex-column-left {
    padding-right: 0;
    width: 100%;
}

.flex-column-right {
    padding-left: 0;
    width: 100%;
}

.float-right,
.float-left {
    float: none;
}

.hidden {
    display: inline;
}

.highlight {
    background-color: #fff;
    color: #000;
}

.highlight .c,
.highlight .cm,
.highlight .c1,
.highlight .sb {
    color: #777;
}

.highlight .ge {
    color: #000;
    font-style: italic;
}

.highlight .gr,
.highlight .kt,
.highlight .sr {
    color: red;
}

.highlight .gs {
    color: #000;
    font-weight: 700;
}

.highlight .nb {
    color: #B58900;
}

.label,
.label-meta {
    background-color: #000;
}

.label-culture {
    background-color: #A52A2A;
}

.label-data {
    background-color: #00f;
}

.label-politics {
    background-color: red;
}

.label-science {
    background-color: green;
}

.label-technology {
    background-color: orange;
}

.logo {
    position: absolute;
}

.post-content p {
    max-width: 50ch;
}

.prompt {
    display: none;
}

.recent-posts {
    order: 1;
}

.twitter-embed {
    order: 2;
}

a,
.highlight .kd,
.highlight .kr,
.highlight .nc,
.highlight .nd,
.highlight .nf,
.highlight .nt,
.highlight .nv,
.highlight .bp,
.highlight .vc,
.highlight .vg,
.highlight .vi {
    color: #00f;
}

a:hover,
.this-page,
.highlight .k,
.highlight .o,
.highlight .cp,
.highlight .cs,
.highlight .gi,
.highlight .kn,
.highlight .kp,
.highlight .ow {
    color: green;
}

body {
    font-size: 150%;
}

code,
pre {
    font-family: monospace;
}

h1,
h2,
.highlight .err,
.highlight .g,
.highlight .l,
.highlight .n,
.highlight .x,
.highlight .p,
.highlight .gd,
.highlight .gh,
.highlight .go,
.highlight .gp,
.highlight .gu,
.highlight .gt,
.highlight .kc,
.highlight .ld,
.highlight .m,
.highlight .s,
.highlight .na,
.highlight .no,
.highlight .ni,
.highlight .ne,
.highlight .nl,
.highlight .nn,
.highlight .nx,
.highlight .py,
.highlight .w,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .mo,
.highlight .sc,
.highlight .sd,
.highlight .s2,
.highlight .se,
.highlight .sh,
.highlight .si,
.highlight .sx,
.highlight .s1,
.highlight .ss,
.highlight .il {
    color: #000;
}

hr {
    border-top: 5px solid #000;
}

.blog-post-title .overlay-span,
.overlay-span {
    color: #000;
}

.overlay-span a {
    color: #00f;
    font-weight: 700;
}

nav a,
.overlay-span a,
.category a,
.label a,
.comments-link,
.blog-post-title a,
.label a {
    text-decoration: underline;
}

a:hover,
.overlay-span a:hover {
    color: green;
}
