---
---

.align-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.attachment-post-thumbnail {
    height: auto;
    max-height: 720px;
    max-width: 100%;
    width: auto;
}

.blog-post {
    margin-bottom: 50px;
}

.blog-post-full {
    margin-bottom: 20px;
}

.blog-post img,
.post-content img {
    height: auto;
    max-width: 100%;
}

.blog-post-image .blog-post-title {
    display: inline;
}

.blog-post-image .the-label {
    margin-right: -10px;
    margin-top: -5px;
}

.blog-post-info {
    margin-bottom: 3ex;
}

.blog-post-info .overlay-span {
    padding-left: 1em;
    padding-right: 1em;
}

.blog-post-title {
    margin-bottom: 0;
    min-width: 100px;
}

.blog-post-title .overlay-span {
    color: #fff;
    left: .5em;
    position: relative;
}

.blog-post-title,
.blog-post-info {
    margin-top: 0;
}

.category {
    font-size: 200%;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.fa,
.fab,
.far,
.fas {
    display: inline !important;
}

.flex-column-left {
    flex-grow: 0;
    flex-shrink: 1;
    order: 1;
}

.flex-column-right {
    flex-grow: 1;
    flex-shrink: 0;
    order: 2;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
}

.float-right {
    width: 300px;
}

.floating-badge {
    max-width:200px;
}

.label {
    color: #fff;
    padding-left: .5em;
    padding-right: .5em;
}

.label a,
a .label {
    color: #fff;
    text-shadow: none;
}

.label a:hover,
a:hover .label {
    color: #fff;
}

.logo {
    left: 20px;
    top: 20px;
    width: 200px;
}

.overlay-span,
.overlay-span a,
.category a,
.label a,
.comments-link {
    color: #fff;
}

.post-content > h3 {
    margin-top: 30px;
}

.post-content a {
    font-weight: 700;
}

.post-content,
.category-description {
    font-size: 115%;
}

.tag-item,
nav ul,
nav li,
nav .this-page {
    display: inline;
    margin: 0;
    padding: 0;
}

.tagline,
nav {
    font-size: 200%;
    margin-top: -1ch;
}

.big-nav {
    margin-top: 2ch;
    margin-left: 5ch;
}

.big-nav .prompt {
    display: none;
}

.big-nav li {
    display: block;
    font-size: 200%;
}

.big-nav li:before {
    content: ">";
    color: "#F33051";
}

.thumbnail-container {
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.thumbnail-overlay {
    color: #fff;
    width: 100%;
}

.twitter-embed {
    max-width: 600px;
}

a {
    text-decoration: underline;
}

h1 a,
h1 a:hover{
    text-decoration: none;
}

abbr {
    cursor: help;
}

blockquote {
    border-left: 5px solid;
    padding-left: 15px;
    max-width: 70ch;
}

body {
    overflow-y: scroll;
    padding-left: 240px;
    padding-bottom: 50px;
}

code,
pre {
    padding-left: .5ch;
    padding-right: .5ch;
}

div.highlight {
    min-width: min(80ch, calc(100% - 4ch));
    max-width: calc(100% - 4ch);
    width: fit-content;
    overflow-x: auto;
}

.highlight code {
    padding-left: 0;
}

h1 {
    font-size: 400%;
    font-weight: 200;
    margin-top: 0;
}

h2 {
    font-size: 200%;
    font-weight: 200;
}

header#main-header {
    margin-bottom: 50px;
}

header.post-header {
    margin-bottom: 20px;
}

hr {
    border-bottom: 0;
}

section,
footer,
dt {
    margin-top: 3ex;
}

.nicetable {
  border-spacing: 0;
}

.nicetable td,
.nicetable th {
  padding: 5px;
}

.align-centre {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.v-padded {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (max-width: 1000px) {
    .logo {
        left: 10vw !important;
        max-width: 360px !important;
        position: absolute !important;
        width: 80vw !important;
    }

    body {
        background-attachment: scroll !important;
        padding-left: 0 !important;
        padding-top: 400px !important;
    }

    h2 {
        font-size: 150% !important;
    }

    section p,
    .page-content p,
    .post-content p,
    dd {
        width: 95% !important;
    }
}

@media screen and (max-width: 400px) {
    body {
        padding-top: 100vw !important;
    }
}
