---
---

@import url('/assets/default.css');

body {
    color: #ccc;
    background-color: #333;
}

code,
.highlight,
.highlight code,
.overlay-span {
    background-color: #222;
}

.blog-post-title .overlay-span {
    box-shadow: #222 0.5em 0px 0px, #222 -0.5em 0px 0px;
}
