---
---

.blog-post-title .overlay-span {
    box-shadow: .5em 0 0 #333, -.5em 0 0 #333;
    box-decoration-break: clone;
}

.blog-post:not(.blog-post-image) .attachment-post-thumbnail {
    -ms-transform: translate(-50%, -50%);
    -o-object-fit: cover !important;
    -o-object-position: center center !important;
    -webkit-transform: translate(-50%, -50%);
    height: auto;
    left: 50%;
    max-width: 300%;
    min-width: 100%;
    object-fit: cover !important;
    object-position: center center !important;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.thumbnail-overlay {
    bottom: 0;
    position: absolute;
}

.thumbnail-container-content {
    height: 360px;
}

.thumbnail-container-single {
    height: 650px;
}

.category-page-header-culture,
a[href*="blog/culture"]:hover,
.post-culture blockquote cite,
.post-culture blockquote small,
.purple {
    color: #9e30f3;
}

.category-page-header-meta,
a[href*="blog/meta"]:hover,
.post-meta blockquote cite,
.post-meta blockquote small,
.highlight .c,
.highlight .cm,
.highlight .c1,
.highlight .sb,
.grey {
    color: #777;
}

.comma,
.hidden {
    display: none;
}

.flex-column-left {
    padding-right: 5px;
    width: 45%;
}

.flex-column-right {
    padding-left: 5px;
    width: 45%;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.footnotes {
    font-size: 80%;
}

.highlight,
.highlight code {
    background-color: #333;
    color: #fff;
}

.highlight .err,
.highlight .g,
.highlight .l,
.highlight .n,
.highlight .p,
.highlight .go,
.highlight .gp,
.highlight .gt,
.highlight .ld,
.highlight .na,
.highlight .nl,
.highlight .nn,
.highlight .nx,
.highlight .py,
.highlight .w,
.highlight .sd,
.highlight .sh,
.lg {
    color: #ccc;
}

.bg-lg {
    background-color: #ccc;
}

.highlight .ge {
    color: #fff;
    font-style: italic;
}

.highlight .gs {
    color: #fff;
    font-weight: 700;
}

.highlight .nb,
.yellow {
    color: #f3df30;
}

:target,
.bg-yellow {
    background-color: #f3df30;
}

.overlay-span,
.bg-dark {
    background-color: #333;
}

.bg-vd {
    background-color: #222;
}

.overlay-span a:hover {
    text-decoration: underline;
}

.label,
.label-technology,
.bg-orange {
    background-color: #f38630;
}

.label-culture,
.bg-purple {
    background-color: #9e30f3;
}

.label-data,
.bg-blue {
    background-color: #30b7f3;
}

.label-meta,
.bg-grey {
    background-color: #777;
}

.label-politics,
.bg-red {
    background-color: #f33051;
}

.label-science,
.bg-green {
    background-color: #63f330;
}

.logo {
    position: fixed;
}

.paginator-trail {
    list-style-type: none;
    font-size: 150%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.paginator-trail li {
    display: inline;
    padding: 0 2ch 0ch 2ch;
    text-indent: 0;
}

.paginator-trail li:before {
    content: '';
    display: none;
}

.paginator-trail li a {
    text-decoration: none;
}

.paginator-trail li a:hover {
    text-decoration: underline;
}

.paginator-trail li.selected a {
    color: #63f330;
    font-weight: bold;
    text-decoration: underline;
}

.post-content p {
    max-width: 80ch;
}

.post-content:not(.post-image) > p:not(:first-of-type) {
    font-family: "Source Sans Pro", sans-serif !important;
}

.post-culture hr,
.post-culture blockquote {
    border-color: #9e30f3;
}

.post-data hr,
.post-data blockquote {
    border-color: #30b7f3;
}

.post-meta hr,
.post-meta blockquote {
    border-color: #777;
}

.post-politics hr,
.post-politics blockquote {
    border-color: #f33051;
}

.post-science hr,
.post-science blockquote {
    border-color: #63f330;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
.post-single p:last-of-type:after {
    -webkit-animation: blink-animation 1200ms steps(2, start) infinite;
    animation: blink-animation 1200ms steps(2, start) infinite;
    color: #f33051;
    content: '_';
    font-family: "Fira Code";
    font-weight: 600;
}

.post-technology hr,
.post-technology blockquote {
    border-color: #f38630;
}

.prompt,
.category-page-header-politics,
a[href*="blog/politics"]:hover,
.post-politics blockquote cite,
.post-politics blockquote small,
.highlight .gr,
.highlight .kt,
.highlight .sr,
.red {
    color: #f33051;
}

.read-more {
    font-family: 'Fira Code', monospace;
}

.tagline,
nav {
    text-transform: lowercase;
}

.tagline,
nav,
section p,
footer p,
dd,
dt,
.page-content p,
.post-content p {
    padding-left: 2ch;
    text-indent: -2ch;
}

div.highlight,
.nicetable {
    margin-left: 2ch;
}

pre.highlight {
    padding: 2ch;
}

a,
.category-page-header-data,
a[href*="blog/data"]:hover,
.post-data blockquote cite,
.post-data blockquote small,
.highlight .kd,
.highlight .kr,
.highlight .nc,
.highlight .nd,
.highlight .nf,
.highlight .nt,
.highlight .nv,
.highlight .bp,
.highlight .vc,
.highlight .vg,
.highlight .vi,
.blue {
    color: #30b7f3;
}

.cc-link {
    font-weight: bold;
    color: #30b7f3 !important;
}

a:hover,
.this-page {
    color: #63f330;
    text-decoration: underline;
}

.category-page-header-science,
a[href*="blog/science"]:hover,
.post-science blockquote cite,
.post-science blockquote small,
.highlight .k,
.highlight .o,
.highlight .cp,
.highlight .cs,
.highlight .gi,
.highlight .kn,
.highlight .kp,
.highlight .ow,
.green {
    color: #63f330;
}

body {
    background-attachment: fixed;
    background-image: url(/assets/pixels.svg);
    background-repeat: no-repeat;
    background-size: 400px;
    color: #333;
}

.dark {
    color: #333;
}

.vd {
    color: #222;
}

body,
code,
pre,
.cc-message,
.cc-compliance {
    font-family: 'Fira Code', monospace;
}

code,
pre,
.bg-light {
    background-color: #eee;
}

.light {
    color: #eee;
}

pre {
    overflow-x: auto;
}

footer p {
    margin: 0;
}

footer p:before {
    color: #f33051;
    content: '> ';
}

footer p:last-of-type:after {
    color: #f33051;
    content: '\00a0^D';
    font-weight: 600;
}

h1,
h2,
.category-page-header-technology,
a[href*="blog/technology"]:hover,
.post-technology blockquote cite,
.post-technology blockquote small,
.highlight .x,
.highlight .gd,
.highlight .gh,
.highlight .gu,
.highlight .kc,
.highlight .m,
.highlight .s,
.highlight .no,
.highlight .ni,
.highlight .ne,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .mo,
.highlight .sc,
.highlight .s2,
.highlight .se,
.highlight .si,
.highlight .sx,
.highlight .s1,
.highlight .ss,
.highlight .il,
.orange {
    color: #f38630;
}

.label a:hover,
.white {
    color: #fff;
}

.share,
.warnings {
    color: #777;
    padding-left: 1.8ch;
    text-indent: -2ch;
}

.tags {
    color: #777;
    padding-left: 1.5ch;
    text-indent: -2ch;
}

.share:before,
.tags:before,
.warnings:before {
    color: #f33051;
    font-family: "FontAwesome";
}

.share:before {
    content: "\f1e0";
}

.tags:before {
    content: "\f02c";
}

.warnings:before {
    content: "\f071";
}

hr {
    border-top: 1px solid #333;
}

nav a,
.overlay-span a,
.category a,
.label a,
.comments-link,
.blog-post-title a {
    text-decoration: none;
}

section p,
.page-content p,
.post-content p,
dd,
.blog-post-title {
    width: 80%;
}

section p:before,
dt:before,
.page-content p:before,
.post-content p:before {
    color: #f33051;
    content: '$ ';
    font-family: 'Fira Code', monospace;
}

section,
footer,
dt {
    margin-top: 3ex;
}

section:last-of-type > p:last-of-type:after,
.page-content > p:last-of-type:after,
.post-content-single > p:last-of-type:after {
    -webkit-animation: blink-animation 1200ms steps(2, start) infinite;
    animation: blink-animation 1200ms steps(2, start) infinite;
    color: #f33051;
    content: '_';
    font-weight: 600;
}

ul {
    list-style: none;
    margin: 0;
    max-width: 50em;
    padding: 0;
}

ul li {
    padding-left: 4ch;
    text-indent: -2ch;
}

ul li:before {
    color: #f33051;
    content: "> ";
    font-weight: 600;
}

li {
    margin-bottom: 1em;
}

.compact-list li {
    margin-bottom: 0;
}

ul.fa-ul li,
blockquote p,
.footnotes p,
.blog-post-info {
    padding-left: 0 !important;
    text-indent: 0 !important;
}

ul.fa-ul li:before,
blockquote p:before,
.footnotes p:before,
.blog-post-info:before {
    content: "";
    display: none;
}

.nicetable,
.nicetable th[scope="col"],
.nicetable th[scope="colgroup"],
.nicetable .borders {
    border-collapse: collapse;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #333;
}

.google-maps {
    position: relative;
    max-width: 600px;
    max-height: 450px;
    padding-bottom: 450px;
    height: 0;
    overflow: hidden;
}

.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

@media screen and (max-width: 1000px) {
    .flex-column-left {
        padding-right: 0;
        width: 100%;
    }

    .flex-column-right {
        padding-left: 0;
        width: 100%;
    }

    .float-right,
    .float-left {
        float: none;
    }

    .recent-posts {
        order: 1;
    }

    .twitter-embed {
        order: 2;
    }
}
