---
---

@import url('/assets/base.css');

@font-face {
    font-family: 'Recursive';
    src: url('/assets/Recursive.woff2') format('woff2');
}

* {
    font-family: 'Recursive', monospace;
    font-variation-settings: var(--mono),
                             var(--casl),
                             var(--slnt),
                             var(--crsv);
    font-feature-settings: var(--features);
}

[lang="el"] {
    font-family: sans-serif;
}

body {
    --mono: 'MONO' 0.5;
    --casl: 'CASL' 0;
    --slnt: 'slnt' 0;
    --crsv: 'CRSV' 0.5;
    --features: 'dlig' 1,
                'ss02', /* single-storey g */
                'ss12'; /* simplified mono @ */
}

main {
    line-height: 1.4;
}

em,
i {
    --casl: 'CASL' 0.5;
    --slnt: 'slnt' -5;
    --crsv: 'CRSV' 1;
    --features: var(--features), 'liga' 1;
}

.cc-banner {
    font-family: 'Recursive', monospace !important;
}

.blog-post-title .overlay-span {
    box-shadow: .5em 0 0 #333, -.5em 0 0 #333;
    box-decoration-break: clone;
}
.blog-post:not(.blog-post-image) .attachment-post-thumbnail {
    -ms-transform: translate(-50%, -50%);
    -o-object-fit: cover !important;
    -o-object-position: center center !important;
    -webkit-transform: translate(-50%, -50%);
    height: auto;
    left: 50%;
    max-width: 300%;
    min-width: 100%;
    object-fit: cover !important;
    object-position: center center !important;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.thumbnail-overlay {
    bottom: 0;
    position: absolute;
}

.thumbnail-container-content {
    height: 360px;
}

.thumbnail-container-single {
    height: 650px;
}

.category-page-header-culture,
a[href*="blog/culture"]:hover,
.post-culture blockquote cite,
.post-culture blockquote small,
.purple {
    color: #9e30f3;
}

.category-page-header-meta,
a[href*="blog/meta"]:hover,
.post-meta blockquote cite,
.post-meta blockquote small,
.highlight .c,
.highlight .cm,
.highlight .c1,
.highlight .sb,
.grey {
    color: #777;
}

.highlight .c,
.highlight .ch,
.highlight .cm,
.highlight .cpf,
.highlight .c1,
.highlight .cs,
.highlight .s {
    --casl: 'CASL' 1;
}

.comma,
.hidden {
    display: none;
}

.flex-column-left {
    padding-right: 5px;
    width: 45%;
}

.flex-column-right {
    padding-left: 5px;
    width: 45%;
}

.float-left {
    float: left;
    margin-right: 10px;
}

.float-right {
    float: right;
    margin-left: 10px;
}

.footnotes,
.littlefoot-footnote {
    font-size: 80%;
}

.highlight,
.highlight code {
    background-color: #333;
    color: #fff;
}

.highlight .err,
.highlight .g,
.highlight .l,
.highlight .n,
.highlight .p,
.highlight .go,
.highlight .gp,
.highlight .gt,
.highlight .ld,
.highlight .na,
.highlight .nl,
.highlight .nn,
.highlight .nx,
.highlight .py,
.highlight .w,
.highlight .sd,
.highlight .sh,
.lg {
    color: #ccc;
}

.bg-lg {
    background-color: #ccc;
}

.highlight .ge {
    color: #fff;
    font-style: italic;
}

.highlight .gs {
    color: #fff;
    font-weight: 700;
}

.highlight .nb,
.yellow {
    color: #f3df30;
}

:target,
.bg-yellow {
    background-color: #f3df30;
    color: #333;
}

.bg-yellow a {
    font-weight: bold;
    color: #333;
}

.bg-yellow a:hover {
    color: #9E30F3;
}

.overlay-span,
.bg-dark {
    background-color: #333;
}

.bg-vd {
    background-color: #222;
}

.overlay-span a:hover {
    text-decoration: underline;
}

.label,
.label-technology,
.bg-orange {
    background-color: #f38630;
}

.label-culture,
.bg-purple {
    background-color: #9e30f3;
}

.label-data,
.bg-blue {
    background-color: #30b7f3;
}

.label-meta,
.bg-grey {
    background-color: #777;
}

.label-politics,
.bg-red {
    background-color: #f33051;
}

.label-science,
.bg-green {
    background-color: #63f330;
}

.logo {
    position: fixed;
}

.paginator-trail {
    list-style-type: none;
    font-size: 150%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.paginator-trail li {
    display: inline;
    padding: 0 2ch 0ch 2ch;
    text-indent: 0;
}

.paginator-trail li:before {
    content: '';
    display: none;
}

.paginator-trail li a {
    text-decoration: none;
}

.paginator-trail li a:hover {
    text-decoration: underline;
}

.paginator-trail li.selected a {
    color: #63f330;
    font-weight: bold;
    text-decoration: underline;
}

.post-content p,
.embed-container-container {
    max-width: 65ch;
}

.post-content:not(.post-image) > p:not(:first-of-type) {
    --mono: 'MONO' 0;
    --features: 'ss02' 1, /* single-storey g */
                'ss03' 1, /* simplified f */
                'ss05' 1, /* simplified l */
                'ss06' 1, /* simplified r */
                'ss08' 1, /* non-serif L and Z */
                'liga' 1,
                'dlig' 1;
    text-indent: -1.5ch;
}

.post-culture hr,
.post-culture blockquote {
    border-color: #9e30f3;
}

.post-data hr,
.post-data blockquote {
    border-color: #30b7f3;
}

.post-meta hr,
.post-meta blockquote {
    border-color: #777;
}

.post-politics hr,
.post-politics blockquote {
    border-color: #f33051;
}

.post-science hr,
.post-science blockquote {
    border-color: #63f330;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
.post-single p:last-of-type:after {
    -webkit-animation: blink-animation 1200ms steps(2, start) infinite;
    animation: blink-animation 1200ms steps(2, start) infinite;
    color: #f33051;
    content: '█';
    font-weight: 600;
    --mono: 'MONO' 1;
}

.post-technology hr,
.post-technology blockquote {
    border-color: #f38630;
}

.prompt,
.category-page-header-politics,
a[href*="blog/politics"]:hover,
.post-politics blockquote cite,
.post-politics blockquote small,
.highlight .gr,
.highlight .kt,
.highlight .sr,
.red {
    color: #f33051;
}

.read-more {
    --mono: 'MONO' 0.5;
}

.tagline,
nav {
    text-transform: lowercase;
}

.tagline,
nav,
section p,
footer p,
dd,
dt,
.page-content p,
.post-content p {
    padding-left: 2ch;
    text-indent: -2ch;
}

div.highlight,
.nicetable {
    margin-left: 2ch;
}

pre.highlight {
    padding: 2ch;
}

a,
.category-page-header-data,
a[href*="blog/data"]:hover,
.post-data blockquote cite,
.post-data blockquote small,
.highlight .kd,
.highlight .kr,
.highlight .nc,
.highlight .nd,
.highlight .nf,
.highlight .nt,
.highlight .nv,
.highlight .bp,
.highlight .vc,
.highlight .vg,
.highlight .vi,
.blue {
    color: #30b7f3;
}

.cc-link {
    font-weight: bold;
    color: #30b7f3 !important;
}

a:hover,
.this-page {
    color: #63f330;
    text-decoration: underline;
}

.category-page-header-science,
a[href*="blog/science"]:hover,
.post-science blockquote cite,
.post-science blockquote small,
.highlight .k,
.highlight .o,
.highlight .cp,
.highlight .cs,
.highlight .gi,
.highlight .kn,
.highlight .kp,
.highlight .ow,
.green {
    color: #63f330;
}

body {
    background-attachment: fixed;
    background-image: url(/assets/pixels.svg);
    background-repeat: no-repeat;
    background-size: 400px;
    color: #333;
}

.dark {
    color: #333;
}

.vd {
    color: #222;
}

header,
footer,
h1,
h2,
h3,
h4 {
    --mono: 'MONO' 1;
    line-height: 1.1;
}

code,
pre,
.bg-light {
    --mono: 'MONO' 1;
    background-color: #eee;
}

.light {
    color: #eee;
}

pre {
    overflow-x: auto;
}

footer p {
    margin: 0;
}

footer p:before {
    color: #f33051;
    content: '> ';
}

footer p:last-of-type:after {
    color: #f33051;
    content: '\00a0^D';
    font-weight: 600;
}

h1,
h1 a,
h1 a:hover,
h2,
.category-page-header-technology,
a[href*="blog/technology"]:hover,
.post-technology blockquote cite,
.post-technology blockquote small,
.highlight .x,
.highlight .gd,
.highlight .gh,
.highlight .gu,
.highlight .kc,
.highlight .m,
.highlight .s,
.highlight .no,
.highlight .ni,
.highlight .ne,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .mo,
.highlight .sc,
.highlight .s2,
.highlight .se,
.highlight .si,
.highlight .sx,
.highlight .s1,
.highlight .ss,
.highlight .il,
.orange {
    color: #f38630;
}

.label a:hover,
.white {
    color: #fff;
}

.share,
.warnings {
    color: #777;
    padding-left: 1.8ch;
    text-indent: -2ch;
}

.tags {
    color: #777;
    padding-left: 1.5ch;
    text-indent: -2ch;
}

.dim {
    color: #777;
}

.share:before,
.tags:before,
.warnings:before {
    color: #f33051;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.share:before {
    content: "\f1e0";
}

.tags:before {
    content: "\f02c";
}

.warnings:before {
    content: "\f071";
}

hr {
    border-top: 1px solid #333;
}

nav a,
.overlay-span a,
.category a,
.label a,
.comments-link,
.blog-post-title a {
    text-decoration: none;
}

section p,
.page-content p,
.post-content p,
dd,
.blog-post-title {
    width: 80%;
}

section p:before,
dt:before,
.page-content p:before,
.post-content p:before {
    color: #f33051;
    content: '$ ';
    --mono: 'MONO' 1;
}

section,
footer,
dt {
    margin-top: 3ex;
}

section:last-of-type > p:last-of-type:after,
.page-content > p:last-of-type:after,
.post-content-single > p:last-of-type:after {
    -webkit-animation: blink-animation 1200ms steps(2, start) infinite;
    animation: blink-animation 1200ms steps(2, start) infinite;
    color: #f33051;
    content: '█';
    font-weight: 600;
    --mono: 'MONO' 1;
}

ul {
    list-style: none;
    margin: 0;
    max-width: 70ch;
    padding: 0;
}

ul li {
    padding-left: 4ch;
    text-indent: -2ch;
}

ul li:before {
    color: #f33051;
    content: "> ";
    font-weight: 600;
    --mono: 'MONO' 1;
}

li {
    margin-bottom: 1em;
}

.compact-list li {
    margin-bottom: 0;
}

.littlefoot-footnote {
    color: #333;
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 0;
}

.littlefoot-footnote p {
    width: 100%;
    font-family: "Recursive";
}

.littlefoot-footnote__button {
    background-color: #ccc;
}

.littlefoot-footnote__button:hover {
    background-color: #777;
}

.littlefoot-footnote__button.is-active {
    background-color: #F38630;
}

ul.fa-ul li,
blockquote p,
.littlefoot-footnote p,
.footnotes p,
.blog-post-info {
    padding-left: 0 !important;
    text-indent: 0 !important;
}

ul.fa-ul li:before,
blockquote p:before,
.littlefoot-footnote p:before,
.footnotes p:before,
.blog-post-info:before {
    content: "";
    display: none;
}

table {
    --mono: 'MONO' 1;
}

.nicetable,
.nicetable th[scope="col"],
.nicetable th[scope="colgroup"],
.nicetable .borders {
    border-collapse: collapse;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #333;
}

.google-maps {
    position: relative;
    max-width: 600px;
    max-height: 450px;
    padding-bottom: 450px;
    height: 0;
    overflow: hidden;
}

.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

button,
.button {
    font-family: "Recursive";
    font-weight: 700;
    --mono: 'MONO' 1;
    background-color: #F38630;
    color: #fff;
    border: 1px solid #F38630;
    padding: 1ch;
    font-size: 150%;
    cursor: pointer;
}

.subscribe-form {
    text-align: center;
    margin: auto;
}

.subscribe-box {
    font-family: "Recursive";
    --mono: 'MONO' 1;
    font-family-settings: 'MONO' 1;
    background-color: #FFF;
    color: #333;
    border: 1px solid #333;
    padding: 1ch;
    font-size: 150%;
    width: 500px;
    max-width: 80%;
}

input:invalid {
    color: #F33051 !important;
    border-color: #F33051 !important;
    outline: 1px solid #F33051 !important;
}

.pull-quote {
    max-width: 20%;
    float: right;
    margin: 0px 50px;
    border-top: 2px solid;
    border-bottom: 2px solid;
    padding: 10px 20px;
    border-left: 0;
    text-align: right;
    color: #777;
    position: absolute;
    left: 75ch;
    --casl: 'CASL' 1;
    font-feature-settings: var(--features),
                'ss01' 1; /* single-storey a */
    font-size: 120%;
}

.box {
    width: 80%;
    text-align: center;
    padding: 20px;
    border: 1px solid #333;
}

::selection {
    background-color: #F38630;
    color: #fff;
}

#comments {
    position: relative;
    z-index: 10;
}

#remarkbox-iframe {
    position: relative;
    top: -50px;
}

@media screen and (max-width: 1300px) {
    .pull-quote {
        position: relative;
        left: 0;
        margin-bottom: 10px;
        font-size: 100%;
    }
}

@media screen and (max-width: 1000px) {
    .flex-column-left {
        padding-right: 0;
        width: 100%;
    }

    .flex-column-right {
        padding-left: 0;
        width: 100%;
    }

    .float-right,
    .float-left {
        float: none;
    }

    .recent-posts {
        order: 1;
    }

    .twitter-embed {
        order: 2;
    }

    .pull-quote {
        float: none;
        max-width: 80%;
        clear: both;
        margin: auto;
        text-align: center;
        position: relative;
        left: 0;
    }
}
