---
layout: default
---
<div class="box bg-yellow">
  <strong>I'm on the job market!</strong><br/>
  I'm looking for jobs
  in the north of England.<br/>
  If you think I might be the right person
  for your business,
  check out my
  <a href="/cv">CV</a>
  or <a href="https://www.linkedin.com/in/georgedwatson/">LinkedIn profile</a>
  and feel free to
  <a href="/contact">get in touch</a>!
</div>
<article class="page">

  {% if page.title %}
    <header class="page-header">
      <h2 class="page-title {% if page.navbar %}
          hidden
        {% endif %}"
        xmlns:dct="http://purl.org/dc/terms/"
        property="dct:title">{{ page.title | escape }}</h2>
    </header>
  {% endif %}

  <div class="page-content">
    {{ content }}
  </div>

</article>
