---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="blog-post blog-post-post blog-post-content blog-post-full">

    {%- if page.image -%}
      <div class="thumbnail-container thumbnail-container-single">
    {%- endif -%}

      {%- if page.image -%}
        <img width="2306" height="1624"
          src="{{ page.image | relative_url }}"
          class="attachment-post-thumbnail size-post-thumbnail
            wp-post-image"
          alt="" itemprop="image"/>
      {%- endif -%}

      <header class="post-header
        {% if page.image %} thumbnail-overlay {% endif %}">

        <div class="the-label">
          <span class="category label label-{{ page.category }}">
            <a href="/blog/{{ page.category }}"
              rel="category tag">{{ page.category | capitalize}}</a>
          </span>
        </div>
        <h2 id="blog-post-title" class="blog-post-title post-title p-name"
            itemprop="name headline">
          <span class="overlay-span"
            xmlns:dct="http://purl.org/dc/terms/"
            property="dct:title">
              {{ page.title | escape }}
          </span>
        </h2>
        <p class="blog-post-info">
          <span class="overlay-span">
            <time class="dt-published"
                datetime="{{ page.date | date_to_xmlschema }}"
                itemprop="datePublished dateModified">
              {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
              {{ page.date | date: date_format }}
            </time>
          </span>
        </p>

      </header>

    {%- if page.image -%}
      </div><!-- /thumbnail-container -->
    {%- endif -%}

    {% if page.warnings %}
      <p class="warnings">
        <strong>Content warning:</strong>
        {% for warning in page.warnings %}
            {{ warning }}
            {% unless forloop.last %}
              &bull;
            {% endunless %}
        {% endfor %}
      </p>
    {% endif %}

    <div class="post-content post-content-single post-{{ page.category }}
        post-post e-content" itemprop="articleBody">
      {{ content }}

      {% if page.credit %}
        <div class="footnotes">
          {{ page.credit }}
        </div>
      {% endif %}
    </div><!-- /post-content -->

    {% if page.tags != empty %}
      {% assign tags = page.tags | sort %}
      <p class="tags">
        <strong>Tagged:</strong>
        {% for tag in tags %}
            {{ tag }}
            {% unless forloop.last %}
              &bull;
            {% endunless %}
        {% endfor %}
      </p>
    {% endif %}

    {% include share-buttons.html %}

    {% include subscribe.html %}

  </div><!-- /.blog-post -->

  {% include related_posts.html %}

  {%- if site.disqus.shortname -%}
    {% include disqus_comments.html %}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
